/* libertinus-serif-display-regular */
@font-face {
	font-family: Libertinus Serif Display;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Display Regular"), local("LibertinusSerifDisplay-Regular"), url(libertinus-serif-display-regular.woff2) format("woff2");
}

