/* libertinus-serif-initials-regular */
@font-face {
	font-family: Libertinus Serif Initials;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Initials Regular"), local("LibertinusSerifInitials-Regular"), url(libertinus-serif-initials-regular.woff2) format("woff2");
}

