/* libertinus-sans-regular */
@font-face {
	font-family: Libertinus Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Sans Regular"), local("LibertinusSans-Regular"), url(libertinus-sans-regular.woff2) format("woff2");
}
/* libertinus-sans-italic */
@font-face {
	font-family: Libertinus Sans;
	font-style: italic;
	font-weight: 400;
	src: local("Libertinus Sans Italic"), local("LibertinusSans-Italic"), url(libertinus-sans-italic.woff2) format("woff2");
}
/* libertinus-sans-bold */
@font-face {
	font-family: Libertinus Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Libertinus Sans Bold"), local("LibertinusSans-Bold"), url(libertinus-sans-bold.woff2) format("woff2");
}

