/* libertinus-keyboard-regular */
@font-face {
	font-family: Libertinus Keyboard;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Keyboard Regular"), local("LibertinusKeyboard-Regular"), url(libertinus-keyboard-regular.woff2) format("woff2");
}

