/* libertinus-serif-semibold-italic */
@font-face {
	font-family: Libertinus Serif;
	font-style: italic;
	font-weight: 400;
	src: local("Libertinus Serif Semibold Italic"), local("LibertinusSerif-SemiboldItalic"), url(libertinus-serif-semibold-italic.woff2) format("woff2");
}
/* libertinus-serif-semibold */
@font-face {
	font-family: Libertinus Serif;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Semibold"), local("LibertinusSerif-Semibold"), url(libertinus-serif-semibold.woff2) format("woff2");
}
/* libertinus-serif-regular */
@font-face {
	font-family: Libertinus Serif;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Regular"), local("LibertinusSerif-Regular"), url(libertinus-serif-regular.woff2) format("woff2");
}
/* libertinus-serif-italic */
@font-face {
	font-family: Libertinus Serif;
	font-style: italic;
	font-weight: 400;
	src: local("Libertinus Serif Italic"), local("LibertinusSerif-Italic"), url(libertinus-serif-italic.woff2) format("woff2");
}
/* libertinus-serif-bold-italic */
@font-face {
	font-family: Libertinus Serif;
	font-style: italic;
	font-weight: 700;
	src: local("Libertinus Serif Bold Italic"), local("LibertinusSerif-BoldItalic"), url(libertinus-serif-bold-italic.woff2) format("woff2");
}
/* libertinus-serif-bold */
@font-face {
	font-family: Libertinus Serif;
	font-style: normal;
	font-weight: 700;
	src: local("Libertinus Serif Bold"), local("LibertinusSerif-Bold"), url(libertinus-serif-bold.woff2) format("woff2");
}

