/* libertinus-mono-regular */
@font-face {
	font-family: Libertinus Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Mono Regular"), local("LibertinusMono-Regular"), url(libertinus-mono-regular.woff2) format("woff2");
}

