/* libertinus-math-regular */
@font-face {
	font-family: Libertinus Math;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Math Regular"), local("LibertinusMath-Regular"), url(libertinus-math-regular.woff2) format("woff2");
}

