/* libertinus-keyboard-regular */
@font-face {
	font-family: Libertinus Keyboard;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Keyboard Regular"), local("LibertinusKeyboard-Regular"), url(libertinus-keyboard-regular.woff2) format("woff2");
}

/* libertinus-math-regular */
@font-face {
	font-family: Libertinus Math;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Math Regular"), local("LibertinusMath-Regular"), url(libertinus-math-regular.woff2) format("woff2");
}

/* libertinus-mono-regular */
@font-face {
	font-family: Libertinus Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Mono Regular"), local("LibertinusMono-Regular"), url(libertinus-mono-regular.woff2) format("woff2");
}

/* libertinus-sans-regular */
@font-face {
	font-family: Libertinus Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Sans Regular"), local("LibertinusSans-Regular"), url(libertinus-sans-regular.woff2) format("woff2");
}
/* libertinus-sans-italic */
@font-face {
	font-family: Libertinus Sans;
	font-style: italic;
	font-weight: 400;
	src: local("Libertinus Sans Italic"), local("LibertinusSans-Italic"), url(libertinus-sans-italic.woff2) format("woff2");
}
/* libertinus-sans-bold */
@font-face {
	font-family: Libertinus Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Libertinus Sans Bold"), local("LibertinusSans-Bold"), url(libertinus-sans-bold.woff2) format("woff2");
}

/* libertinus-serif-semibold-italic */
@font-face {
	font-family: Libertinus Serif;
	font-style: italic;
	font-weight: 400;
	src: local("Libertinus Serif Semibold Italic"), local("LibertinusSerif-SemiboldItalic"), url(libertinus-serif-semibold-italic.woff2) format("woff2");
}
/* libertinus-serif-semibold */
@font-face {
	font-family: Libertinus Serif;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Semibold"), local("LibertinusSerif-Semibold"), url(libertinus-serif-semibold.woff2) format("woff2");
}
/* libertinus-serif-regular */
@font-face {
	font-family: Libertinus Serif;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Regular"), local("LibertinusSerif-Regular"), url(libertinus-serif-regular.woff2) format("woff2");
}
/* libertinus-serif-italic */
@font-face {
	font-family: Libertinus Serif;
	font-style: italic;
	font-weight: 400;
	src: local("Libertinus Serif Italic"), local("LibertinusSerif-Italic"), url(libertinus-serif-italic.woff2) format("woff2");
}
/* libertinus-serif-bold-italic */
@font-face {
	font-family: Libertinus Serif;
	font-style: italic;
	font-weight: 700;
	src: local("Libertinus Serif Bold Italic"), local("LibertinusSerif-BoldItalic"), url(libertinus-serif-bold-italic.woff2) format("woff2");
}
/* libertinus-serif-bold */
@font-face {
	font-family: Libertinus Serif;
	font-style: normal;
	font-weight: 700;
	src: local("Libertinus Serif Bold"), local("LibertinusSerif-Bold"), url(libertinus-serif-bold.woff2) format("woff2");
}

/* libertinus-serif-display-regular */
@font-face {
	font-family: Libertinus Serif Display;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Display Regular"), local("LibertinusSerifDisplay-Regular"), url(libertinus-serif-display-regular.woff2) format("woff2");
}

/* libertinus-serif-initials-regular */
@font-face {
	font-family: Libertinus Serif Initials;
	font-style: normal;
	font-weight: 400;
	src: local("Libertinus Serif Initials Regular"), local("LibertinusSerifInitials-Regular"), url(libertinus-serif-initials-regular.woff2) format("woff2");
}

